<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/Kang.css">
    <title>Document</title>
</head>
<body>
<nav class="introducemain">
    <div class="myself">
        <div class=>
            <img src="../../img/KakaoTalk_20211217_165851088.jpg" alt="logo" class="mypic1">
        </div>
        <div class="intromy1">
            <p class="kangseongwoo">Name:Kang Seong Woo</p>

        </div>
        <div class="intromy2">
            <img src="../../img/KakaoTalk_20231127_222955033.jpg" alt="logo" class="mypic2">
        </div>
        <div class="intromy3">
            <p class="kangseongwoo2">Hobby: Snowboarding</p>
        </div>
    </div>
</nav>

</body>
</html>